
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#menu-lateral {
  width: 250px;
  height: 100%;
  background-color: #333;
  position: fixed;
  left: 0;
  top: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

#menu-lateral a {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
}

#menu-lateral button {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  margin-top: auto;
}

#menu-lateral a:hover {
  color: #f1f1f1;
}

#menu-lateral button:hover {
  color: #f1f1f1;
}

#contenido {
  margin-left: 250px;
  padding: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 90px; 
  height: auto;
  margin-left: 10px;
}

#acerca-de {
  margin-top: auto;
  color: aqua;
}

.logo-text {
  margin-top: 17px;
  margin-left: 10px; 
  color: #ffffff; 
  font-size: 27px; 
  font-family: fantasy;
}

.acerca-de-container {
  max-width: 600px; /* Ancho máximo del contenido */
  margin: 20px auto; /* Centra el contenido en la página */
  padding: 20px;
  background-color: #f5f5f5; /* Color de fondo */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.menu-lateral a,
.menu-lateral button {
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  margin-bottom: 10px; /* Espacio entre elementos */
}

.menu-lateral a:hover,
.menu-lateral button:hover {
  color: #f1f1f1;
  background-color: #333; /* Color de fondo al pasar el ratón */
}

.subopciones-container {
  position: relative;
}

.subopciones {
  top: 0;
  left: 100%;
  background-color: #2c2c2c;
  padding: 10px;
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease; /* Agrega una transición a la opacidad */
}

.subopciones a {
  color: #818181;
  text-decoration: none;
  padding: 5px;
  transition: color 0.3s ease; /* Agrega una transición al color del texto */
}

.tabla-container {
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #4CAF50; /* Color de fondo del encabezado */
  color: white;
}

tbody tr:hover {
  background-color: #f5f5f5; /* Color de fondo al pasar el ratón sobre la fila */
}

.contenidoCentrado{
  text-align: center;
}

.contenedor {
  margin-top: 2%;
}

/* Estilos para el combobox */
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 16%; /* Espacio entre el combobox y los selectores de fecha */
}

/* Estilos para los selectores de fecha */
input[type="date"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 16%;
  margin-right: 2%;
  margin-left: 2%; /* Espacio entre los selectores de fecha y el combobox */
}

#titulo{
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: #ffc282;
}

.tituloemocion{
  border-radius: 20px;
  border: none;
  padding: 10px;
  background-color: #6cda86;
}

@keyframes ldio-x2uulkbinbj {
  0% {
    opacity: 1;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.5,1.5);
  } 100% {
    opacity: 0;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1,1);
  }
}
.ldio-x2uulkbinbj div > div {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #9d9d9d;
  animation: ldio-x2uulkbinbj 1s linear infinite;
}.ldio-x2uulkbinbj div:nth-child(1) > div {
  left: 148px;
  top: 88px;
  animation-delay: -0.875s;
}
.ldio-x2uulkbinbj > div:nth-child(1) {
  transform: rotate(0deg);
  transform-origin: 160px 100px;
}.ldio-x2uulkbinbj div:nth-child(2) > div {
  left: 130px;
  top: 130px;
  animation-delay: -0.75s;
}
.ldio-x2uulkbinbj > div:nth-child(2) {
  transform: rotate(45deg);
  transform-origin: 142px 142px;
}.ldio-x2uulkbinbj div:nth-child(3) > div {
  left: 88px;
  top: 148px;
  animation-delay: -0.625s;
}
.ldio-x2uulkbinbj > div:nth-child(3) {
  transform: rotate(90deg);
  transform-origin: 100px 160px;
}.ldio-x2uulkbinbj div:nth-child(4) > div {
  left: 46px;
  top: 130px;
  animation-delay: -0.5s;
}
.ldio-x2uulkbinbj > div:nth-child(4) {
  transform: rotate(135deg);
  transform-origin: 58px 142px;
}.ldio-x2uulkbinbj div:nth-child(5) > div {
  left: 28px;
  top: 88px;
  animation-delay: -0.375s;
}
.ldio-x2uulkbinbj > div:nth-child(5) {
  transform: rotate(180deg);
  transform-origin: 40px 100px;
}.ldio-x2uulkbinbj div:nth-child(6) > div {
  left: 46px;
  top: 46px;
  animation-delay: -0.25s;
}
.ldio-x2uulkbinbj > div:nth-child(6) {
  transform: rotate(225deg);
  transform-origin: 58px 58px;
}.ldio-x2uulkbinbj div:nth-child(7) > div {
  left: 88px;
  top: 28px;
  animation-delay: -0.125s;
}
.ldio-x2uulkbinbj > div:nth-child(7) {
  transform: rotate(270deg);
  transform-origin: 100px 40px;
}.ldio-x2uulkbinbj div:nth-child(8) > div {
  left: 130px;
  top: 46px;
  animation-delay: 0s;
}
.ldio-x2uulkbinbj > div:nth-child(8) {
  transform: rotate(315deg);
  transform-origin: 142px 58px;
}
.loadingio-spinner-spin-nq4q5u6dq7r {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-x2uulkbinbj {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-x2uulkbinbj div { box-sizing: content-box; }